{% extends "baseWeb.html" %}


{% block style %}{% endblock %}
{% block title %}Main{% endblock %}


{% block main %}
    
    <div class="d-flex gap-2 justify-content-center py-5">
        <a href="/main"> <span class="badge bg-primary-subtle   border border-primary-subtle   text-primary-emphasis   rounded-pill">ВСЕ</span></a>
        {% for id, title in category %} 
            <a href="/main/category/{{id}}"> <span class="badge bg-secondary-subtle border border-secondary-subtle text-secondary-emphasis rounded-pill">{{title}}</span></a>
        {% endfor %} 
    </div> 


    

    <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for id, name, info, url_image, strange, agility, intelegens, hp, manapool, attack, armor, speed, distanse_attack, id_category in data %}

      <a href="/hero/{{id}}">
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{url_image}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
              <div class="card-body">
                <p class="card-text">{{name}}</p>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}