{% extends "baseLogin.html" %}


{% block style %}
    <style>
        .login {
            width: 320px;
            padding: 30px;
            padding-top: 80px;
        }
        .login__field {
            padding: 10px 0px;	
            position: relative;	
        }
    </style>
{% endblock %}
{% block title %}Reg{% endblock %}

{% block main %}


<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="post" action="/reg">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" name="name" class="login__input" placeholder="Name">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="mail" name="mail" class="login__input" placeholder="Mail">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="login" name="login" class="login__input" placeholder="Login">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" name="password1" class="login__input" placeholder="Password">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" name="password2" class="login__input" placeholder="Password">
                </div>
                <button class="button login__submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="social-login">
                <a class="button__text" style="text-decoration: none;" href="/login"><h3>Sign in</h3></a>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>



{% endblock %}